{pre_hooks, [{"(linux|darwin)", compile, "make nif_compile CPP_DRIVER_REV=9c6e88d52b9206564cafc9ab6dab753af94700a9"}]}.
{post_hooks, [{"(linux|darwin)", clean, "make nif_clean"}]}.

{plugins, [rebar3_hex]}.

{deps, [
    {lager, "~>3.6"}
]}.

{erl_opts, [
    warnings_as_errors,
    warn_export_all,
    {parse_transform, lager_transform}
]}.
